version: "3.7"

networks:
  default:
    name: traefik-default

services:
  traefik:
    image: "traefik:v2.6"
    container_name: traefik
    restart: "always"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "./traefik.yml:/traefik.yml:ro"
      - "./acme.json:/acme.json"
    labels:
      - "traefik.enable=true"
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.middlewares.enablecors.headers.customresponseheaders.Access-Control-Allow-Origin=*"
      - "traefik.http.middlewares.enablecors.headers.customresponseheaders.Access-Control-Allow-Headers=Content-Type,Authorization"
      - "traefik.http.middlewares.enablecors.headers.customresponseheaders.Access-Control-Allow-Methods=PUT,POST,GET,OPTIONS,DELETE"
      - "traefik.http.middlewares.enablecors.headers.customresponseheaders.Access-Control-Max-Age=86400"
      - "traefik.http.routers.http-catchall.rule=hostregexp(`{host:.+}`)"
      - "traefik.http.routers.http-catchall.entrypoints=http"
      - "traefik.http.routers.http-catchall.middlewares=redirect-to-https"
